.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.fpitem {
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.fpitem img {
  width: 100%;
  border-radius: 10px;
}

.fpname {
  font-weight: bold;
}

.fpcity {
  font-weight: 300;
}

.fpprice {
  font-weight: 600;
}

.fprating > button {
  background-color: #003580;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.fprating > span {
  font-size: 14px;
}
