.hotels-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.hotels-wrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.hotels-wrapper-search {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
}

.hotels-wrapper-result {
  flex: 3;
}

.hotels-wrapper-search-title {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}
